services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: php-base
    volumes:
      - .:/app
    depends_on:
      - postgres

  app:
    build:
      context: .
      dockerfile: docker/rr/Dockerfile
    ports:
      - "80:80"
    volumes:
      - .:/app
      - ./var/logs:/app/var/logs
    depends_on:
      - postgres

  temporal-worker:
    build:
      context: .
      dockerfile: docker/rr/Dockerfile
    command: ["rr", "serve", "-c", ".rr-temporal.yaml"]
    volumes:
      - .:/app
    depends_on:
      - temporal

  temporal:
    image: temporalio/auto-setup:latest
    ports:
      - "7233:7233"
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=app
      - POSTGRES_PWD=app
      - POSTGRES_SEEDS=postgres
    depends_on:
      - postgres

  temporal-ui:
    image: temporalio/ui:latest
    ports:
      - "8233:8080"
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
    depends_on:
      - temporal

  postgres:
    build:
      context: docker/postgres
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
