services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    image: php-base
    volumes:
      - .:/app
    depends_on:
      - postgres

  app:
    build:
      context: .
      dockerfile: docker/rr/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - ./var/logs:/app/var/logs
    depends_on:
      - postgres

  postgres:
    build:
      context: docker/postgres
      dockerfile: Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
